body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("../images/bg.png");
    position: relative; /* Necessary for pseudo-element positioning */
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5); /* 0.5 represents 50% transparency */
    z-index: -1; /* Place the overlay behind the content */
}

.outer-container {
    background-size: cover;
    background-position: center;
    max-width: 100%;
    border-radius: 10px;
    color: white;
    font-family: 'SF Pro Display', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.inner-container {
    width: 40%;
    padding: 20px;
    position: absolute;
    left: 60px;
}

header {
    text-align: left;
    padding: 0px 0;
}

h2 {
    margin: 0;
    font-size: 36px;
}

.about-me, .socials {
    padding: 20px 0;
}

.about-me p {
    margin: 0;
    font-size: 18px;
    line-height: 1.5;
}

.socials h2 {
    font-size: 18px;
}

hr {
    border: 0.5px solid #ccc;
    margin-top: 10px;
    
}

.socials p {
    font-size: 18px;
}

.icon-row {
    display: flex;
    align-items: center;
}

.icon-row a {
    margin-right: 10px;
    text-decoration: none;
}

.yellow {
    color: #FF9417;
}

.icon-row svg {
    width: 24px;
    height: 24px;
    fill: #ffffff;
}
